
#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100% ); /*primeiro valor em graus, depois cor hexadecimal com porcentagem */
    background-size: cover;
    color: white;
    height: 100vh;
    text-align: center;

    display: flex;
    align-items: center;
}

#container {
    margin: auto;
    width: min(90%, 1120px); /* ou 120rem */
}


#logo {
    animation-delay: 50ms;
}

.location, h1, .visit p {
    height: 16vh;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
    font-size: clamp(4rem, 8vw, 8.4rem);
}


.visit p{
    margin-top: clamp(5vh, 6vh, 8vh);
    animation-delay: 200ms;
}

.visit a {
    background-color: #ffd666;
    border: none;
    border-radius: 3rem;
    height:8rem;
    margin: auto;
    width: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;

    animation-delay: 250ms;

}

.visit a:hover {
    background-color: #96feff;
}


/* responsive */

@media (min-width: 760px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-landing {
        background-size: cover;
        height: initial;
    }

    #container {
        background-image: url("../images/bg.svg");
        background-repeat: no-repeat; 
        background-position: 80%; /*dois valores, eixo y eixo x / um valor aplica para os dois eixos*/
        background-size: clamp(30rem, 50vh, 56vh);
        padding: 3rem;
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location {
        font-size: 2.4rem;
        line-height: 1.5;
        text-align: right;
    }

    main h1 {
         /* pede 3 valores: min, ideal, max */
        font-weight: bold;
        line-height: 0.88;
        margin: clamp(3vh, 7vh, 12%) 0 4rem 0;
        width: min(300px, 80%); 
    }

    .visit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visit p {
        font-size: 2rem;
        line-height: 1.2;
        margin-top: 2vh;
        width: clamp(20rem, 20vw, 30rem)
    }

    .visit a{
        margin: initial;
    }
}