<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy</title>
    <link rel="shortcut icon" href="/images/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">
    
</head>

<body>
    <div id="page-landing">
        <div id="container">
            
            <header>
                <img src="/images/logo.svg" alt="Happy App Logo" class="logo animate-up">
                <div class="location animate-up">
                    <strong>São Paulo</strong>
                    <p>São Paulo</p>
                </div>
            </header>

            <main>
                <h1 class="animate-up">
                    Leve felicidade para o mundo
                </h1>
                <section class="visit">
                    <p class="animate-up">Visite orfanatos e mude o dia a dia de muitas crianças</p>
                    <a href="/ophanages.html" title="Visite Orfanatos" class=" animate-up">
                        <img src="/images/arrow.svg" alt="Ir para o mapa">
                    </a>
                </section>
            </main>

        </div>
    </div>
</body>

</html>